<!DOCTYPE html>
<html>
<head>
    <title>Inventory App</title>
    <link rel="stylesheet" type="text/css" href="/indexStyles.css">

</head>
<body>
    <div class="background">
        <div class="wave"></div>
    </div>
    <div class="container">
        <h1>Bienvenido a nuestro proyecto<span style="color: #2bff00;"> Express inventory app</span></h1>
        <p>Proyecto <span style="font-weight: bold;">simple</span> utilizando Node.js + Express.js para un sistema de inventario</p>
        <p>Click <a href="/table">aqui</a> para ver el sistema.</p>
        <div class="team-section">
            <h2>Integrantes del proyecto</h2>
            <ul>
                <li>Dylan Bastos</li>
                <li>Luis Hodgson</li>
                <li>Joshua Sancho</li>
                <li>Jose Daniel Vargas</li>
            </ul>
        </div>
    </div>
</body>
</html>
