body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #0056b3;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0056b3;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    background: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #004099;
}


button.add, button.edit, button.delete {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.add {
    background-color: #235cd8;
    color: white;
    padding: 15px 30px;
    margin: 40px 15px;
    font-size: 20px;

}

button.add:hover {
    background-color: #342d9b;
}
button.edit {
    background-color: #ffc107;
    color: white;
}

button.edit:hover {
    background-color: #e0a800;
}

button.delete {
    background-color: #dc3545;
    color: white;
}

button.delete:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    table, form {
        width: 100%;
    }

    th, td {
        padding: 5px;
    }

    form label, form input, form button {
        margin: 5px 0;
    }
}